/* Standard */
.card-img-top {
    height: 200px; /* Adjust this */
    width: 100%;
    object-fit: cover;
    overflow: hidden
}

/* Social Media Footer */
.social-icon {
    width: 20px; /* Adjust this */
    height: auto; /* Adjust this */
    margin: 0 5px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

/* General Tag */
.badge-general {
    background-color: #008fd5;
    color: #ffffff;
}

/* Years */
.badge-23-24 {
    background-color: #ffc700;
    color: #ffffff;
}

.badge-24-25 {
    background-color: #ffc700;
    color: #ffffff;
}

/* Category Tags */
.badge-math {
    background-color: #008fd5;
    color: #ffffff;
}

.badge-science {
    background-color: #008fd5;
    color: #ffffff;
}

.badge-compsci {
    background-color: #008fd5;
    color: #ffffff;
}

.badge-hockey {
    background-color: #008fd5;
    color: #ffffff;
}
