body {
    background-color: #bae5ec;
    color: #0e4677;
    background-size: cover;
}
.navbar {
    background-color: #0090cf;
    color: white;
}
.navbar a {
    color: white;
}
.card-img-container {
    height: 250px;
    overflow: hidden;
}
.card-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.social-icon {
    width: 20px;
    height: auto;
    margin: 0 10px;
    display: inline-block;
}
#short-bio {
    margin-bottom: 120px;
}
#short-bio h2, #short-bio p {
    color: #0e4677;
}
#blog-posts {
    padding-top: 50px;
}
#blog-posts h2 {
    color: #0e4677;
}
.bg-gray-100 {
    background-color: #0090cf !important;
}
footer {
    background-color: #0090cf;
    color: white;
}
footer a {
    color: white;
}
.btn-read {
    display: inline-block;
    background-color: #0e4677;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    text-align: center;
    text-decoration: none;
}
#blog h2 {
    color: #0e4677;
}

.quote-header {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #0090cf;
    color: white;
    border-radius: 0.5rem;
}

.tags-section {
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    border-top: 1px solid #ccc;
}
.tags-section span {
    display: inline-block;
    background-color: #0090cf;
    color: white;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 0.375em;
    font-size: 0.9em;
}
